select {
    border: 1px solid transparent;
    border-radius: 5px;
    height: 40px;
    padding: 5px 15px;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
